{{ template "chrome/head.html" . }}
<body class="layout-reverse">

{{ template "chrome/sidebar.html" . }}

    <div class="content container">
      <h1>{{ .Title }}</h1>
      <ul class="posts">
          {{ range .RegularPages }}
          <li><span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span></li>
          {{ end }}
      </ul>
    </div>

  </body>
</html>
