{{ template "chrome/head.html" . }}
  <body class="layout-reverse">

{{ template "chrome/sidebar.html" . }}

    <div class="content container">
      <div class="post">
        <h1>{{ .Title }}</h1>
        <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ .Content }}
      </div>
    </div>

  </body>
</html>
