<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/poole.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hyde.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <!-- Web app -->
  <link rel="manifest" href="/manifest.webmanifest">

  {{ if isset .Params "foaf" }}
  <!-- FOAF RDF -->
  <link href="{{ .Params.foaf }}" rel="meta" type="application/rdf+xml" title="FOAF" />
  {{ end }}
  {{ if isset .Params "gopkglocation" }}<meta name="go-import" content="{{ .Params.gopkgbasedomain }} {{ .Params.gopkgscm }} {{ .Params.gopkglocation }}">{{ end }}
  {{ if isset .Params "gopkgdoc" }}<meta http-equiv="refresh" content="0; url={{ .Params.gopkgdoc }}">{{ end }}
</head>
