<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ .Site.Title }}</h1>
      <p class="lead">{{ with .Site.Params.Description }}{{.}}{{ else }}An elegant open source and mobile first theme for <a href="http://hugo.spf13.com">hugo</a> made by <a href="http://twitter.com/mdo">@mdo</a>. Originally made for Jekyll.{{end}}</p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{ end }}
    </ul>

    <p>{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{now.Format "2006"}}. All rights reserved.{{end}}</p>
  </div>
</div>
