{{ template "chrome/head.html" . }}
  <body class="layout-reverse">

{{ template "chrome/sidebar.html" . }}

    <div class="content container">
      <div class="posts">

        {{ range .Site.RegularPages }}
        <div class="post">
          <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h1>

          <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>

          {{ .Content }}
        </div>
        {{ end }}
      </div>
    </div>
  </body>
</html>
